$def with (userid, todolist)
<!doctype html>
<html>
  <head> <title>Todo list les 6</title>
  </head>
  <body>
    $for elt in todolist:
      <form action="/users/$userid/todos/$elt['_id']" method="POST">
       <input type="checkbox" name="done" value="True"
              $if elt['done']: checked
              >
       <input type="text" name="descr" value="$elt['description']">
       <button type="submit">change</button>
        <br>
      </form>
    <hr>
    Create new todo element: <br>
    <form action="/users/$userid/todos" method="POST">
      description: <input type="text" name="descr" value=""> <br>
      done: <input type="checkbox" name="done" value="True"> <br>
      <button type="submit">Create</button>
    </form>
    <hr>
    <a href="/">Home</a>
  </body>
</html>
