$def with (username)
<!doctype html>
<html>
  <head> <title>Forms test</title>
  </head>
  <body>
    <p>
      $if username != "anonymous":
          <p>Welkom $username!</p>
    <form action="/form1" method="GET">
      x: <input type="text" name="x" value="..."> <br>
      y: <input type="number" name="y" value="123"> <br>
      <button type="submit">Submit</button>
    </form>
    <hr>
    <form action="/form2" method="POST">
      user: <input type="text" name="a" value=""> <br>
      b: <input type="number" name="b" value="123"> <br>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
