$def with (todolist)
<!doctype html>
<html>
  <head> <title>Forms test</title>
  </head>
  <body>
    $for elt in todolist:
      <form action="/todos/$elt['_id']" method="POST">
        <input type="checkbox" name="done" value="True" \
        $if elt['done']: checked \
        >
        <input type="text" name="descr" value="$elt['description']">
        <button type="submit">change</button>
        <br>
      </form>
    <hr>
    Create new todo element: <br>
    <form action="/todos" method="POST">
      description: <input type="text" name="descr" value=""> <br>
      done: <input type="checkbox" name="done" value="True"> <br>
      <button type="submit">Create</button>
    </form>
    <hr>
    <a href="/cleanup">Remove completed items</a>
  </body>
</html>
