<!doctype html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <form method="GET" action="/login">
      <em>Login</em>
      username: <input type="text" name="username"> <br>
      password: <input type="text" name="password"> <br>
      <button type="submit">Send</button>
    </form>
    <hr>
    <form method="POST" action="/users">
      <em>New user</em><br>
      username: <input type="text" name="username"> <br>
      password: <input type="password" name="password"> <br>
      retype password: <input type="password" name="retype"> <br>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
